.dynamodb-page .items-wrapper {
  overflow: auto;
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 50px;
  top: 100px;
  border: 1px solid var(--vscode-breadcrumbPicker-background);
}
.dynamodb-page .pagination {
  position: fixed;
  top: 64px;
  left: 16px;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dynamodb-page.exec-log-shown .items-wrapper {
  bottom: 270px;
}

.dynamodb-page .pagination i {
  margin: 0 5px;
}

.dynamodb-page .items-wrapper .table {
  font-size: 0.95em;
}
.dynamodb-page .items-wrapper .resizer:hover {
  background: var(--vscode-checkbox-border);
}
.dynamodb-page .items-wrapper .resizer {
  display: inline-block;
  background: var(--vscode-checkbox-border);
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}
.dynamodb-page .items-wrapper .resizer.isResizing {
  background: red;
}

.dynamodb-page .items-wrapper .table .tablehead-background {
  background: var(--vscode-editor-lineHighlightBorder);
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
}
.dynamodb-page .items-wrapper .table .tablehead-wrapper {
  position: sticky;
  top: 0px;
}

.dynamodb-page .items-wrapper .table .th:first-child {
  border-left: 1px solid var(--vscode-checkbox-border);
}

.dynamodb-page .items-wrapper .table .td,
.dynamodb-page .items-wrapper .table .th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dynamodb-page .items-wrapper .table .th {
  padding: 10px;
  font-weight: bold;
  background: var(--vscode-editor-lineHighlightBorder);
  border-bottom: 1px solid var(--vscode-checkbox-border);
  border-top: 1px solid var(--vscode-checkbox-border);
}
.dynamodb-page .items-wrapper .table .td {
  padding: 10px;
  border-right: 1px solid var(--vscode-breadcrumbPicker-background);
  border-bottom: 1px solid var(--vscode-breadcrumbPicker-background);
}

.dynamodb-page .items-wrapper .table .tr:hover,
.dynamodb-page .items-wrapper .table .tr-wrapper:hover {
  background-color: var(--vscode-editor-lineHighlightBorder);
}
.dynamodb-page .items-wrapper .table .th:first-child,
.dynamodb-page .items-wrapper .table .td:first-child {
  padding-left: 8px;
}
