.dynamodb-page .BaseTable__row.clipboard-1 .BaseTable__row-cell:nth-child(1) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-2 .BaseTable__row-cell:nth-child(2) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-3 .BaseTable__row-cell:nth-child(3) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-4 .BaseTable__row-cell:nth-child(4) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-5 .BaseTable__row-cell:nth-child(5) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-6 .BaseTable__row-cell:nth-child(6) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-7 .BaseTable__row-cell:nth-child(7) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-8 .BaseTable__row-cell:nth-child(8) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-9 .BaseTable__row-cell:nth-child(9) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-10 .BaseTable__row-cell:nth-child(10) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-11 .BaseTable__row-cell:nth-child(11) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-12 .BaseTable__row-cell:nth-child(12) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-13 .BaseTable__row-cell:nth-child(13) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-14 .BaseTable__row-cell:nth-child(14) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-15 .BaseTable__row-cell:nth-child(15) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-16 .BaseTable__row-cell:nth-child(16) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-17 .BaseTable__row-cell:nth-child(17) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-18 .BaseTable__row-cell:nth-child(18) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-19 .BaseTable__row-cell:nth-child(19) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-20 .BaseTable__row-cell:nth-child(20) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-21 .BaseTable__row-cell:nth-child(21) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-22 .BaseTable__row-cell:nth-child(22) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-23 .BaseTable__row-cell:nth-child(23) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-24 .BaseTable__row-cell:nth-child(24) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-25 .BaseTable__row-cell:nth-child(25) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-26 .BaseTable__row-cell:nth-child(26) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-27 .BaseTable__row-cell:nth-child(27) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-28 .BaseTable__row-cell:nth-child(28) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}
.dynamodb-page .BaseTable__row.clipboard-29 .BaseTable__row-cell:nth-child(29) .BaseTable__row-cell-text {
  background: var(--vscode-editor-selectionBackground);
}

