.dynamodb-page .ant-tabs {
  margin: 0px;
}
.dynamodb-page .main-wrapper {
  padding: 5px;
}

.dynamodb-page .log-table-wrapper {
  position: fixed;
  bottom: 0px;
  right: 15px;
  left: 15px;
  background: var(--vscode-sideBar-background);
  padding: 10px;
  border-radius: 5px;
}
.dynamodb-page .log-table-wrapper .table-wrapper {
  height: 200px;
  overflow: auto;
  margin-bottom: 15px;
}
.dynamodb-page .log-table {
  width: 100%;
}
.dynamodb-page .log-table-wrapper .exec-footer {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.dynamodb-page .log-table-wrapper .exec-footer .queue-message {
  cursor: pointer;
}
.dynamodb-page .log-table-wrapper .exec-footer .queue-message:hover {
  color: #1890ff;
}
.dynamodb-page .log-table-wrapper .exec-footer button {
  margin-left: 10px;
  font-weight: 500;
  padding: 0 15px;
}

.dynamodb-page .log-table tr {
  border-bottom: 1px solid var(--vscode-checkbox-border);
  height: 30px;
  font-size: 0.9em;
}
.dynamodb-page .log-table tr:last-child {
  border-bottom: 0;
}
.dynamodb-page .log-table .icons {
  text-align: right;
}
.dynamodb-page .log-table .icons i {
  padding-right: 10px;
}
.dynamodb-page .log-table .operation.add {
  color: rgb(115, 201, 145);
}
.dynamodb-page .log-table .operation.edit {
  color: rgb(226, 192, 141);
}
.dynamodb-page .log-table .operation.delete {
  color: rgb(199, 78, 57);
}
