body .dynamodb-page {
  font-size: 12px;
}

.dynamodb-page .str-limit-50px {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-select-dropdown-menu-item {
  padding: 0px 12px !important;
  line-height: 22px !important;
}
.ant-select-dropdown-menu {
  max-height: 270px !important;
}
.dynamodb-page .comparator-select input {
  text-align: center;
  padding: 0;
}
.ant-select-dropdown--single {
  min-width: 100px;
}

.dynamodb-page .BaseTable__row {
  background: var(--vscode-editor-background);
  border-bottom: 1px solid var(--vscode-breadcrumbPicker-background);
}
.dynamodb-page .BaseTable__header-row {
  background: var(--vscode-editor-background);
  border-bottom: 1px solid var(--vscode-breadcrumbPicker-background);
}
.dynamodb-page .BaseTable--empty .BaseTable__header-row {
  border: 0;
}
.dynamodb-page .BaseTable__table-main {
  outline: none;
}
.dynamodb-page .BaseTable__table .BaseTable__header,
.dynamodb-page .BaseTable__table-main,
.dynamodb-page .BaseTable__table,
.dynamodb-page .BaseTable__empty-layer,
.dynamodb-page .BaseTable {
  background: var(--vscode-editor-background);
  box-shadow: none;
}

.dynamodb-page .BaseTable__footer {
  box-shadow: none;
}

.dynamodb-page .ant-tooltip {
  font-size: 12px;
}
.dynamodb-page .ant-tabs {
  margin: 0px;
}
.dynamodb-page .main-wrapper {
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.dynamodb-page button,
.dynamodb-page button[disabled],
.dynamodb-page button:focus {
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-size: 12px;
}
.dynamodb-page button:hover {
  background: var(--vscode-button-hoverBackground);
  border-color: var(--vscode-button-hoverBackground);
}
.dynamodb-page button[disabled] {
  opacity: 0.8;
}

.dynamodb-page .table-wrapper {
  margin: 4px 8px 0;
}
.dynamodb-page .log-table-wrapper {
  height: 200px;
  padding: 5px 0px;
  padding-bottom: 0;
}
.dynamodb-page .log-table-wrapper .table-wrapper {
  height: 180px;
  z-index: 1;
  overflow: auto;
}
.dynamodb-page .log-table {
  width: 100%;
}
.dynamodb-page .log-table .change-row.error {
  color: var(--vscode-minimap-errorHighlight);
}
.dynamodb-page .log-table .change-row {
  cursor: pointer;
}
.dynamodb-page .log-table .change-row:hover {
  background: var(--vscode-editor-findRangeHighlightBackground);
}
.dynamodb-page .footer-right {
  justify-content: flex-end;
  min-width: 230px;
}
.dynamodb-page .footer-right .queue-message {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dynamodb-page .footer-right .queue-message:hover {
  color: #1890ff;
}
.dynamodb-page .footer-right .queue-message i {
  margin-left: 4px;
}
.dynamodb-page .footer-right button {
  margin-left: 5px;
}

.dynamodb-page .footer-right .changes-num {
  padding: 0px 6px;
  color: var(--vscode-activityBarBadge-foreground);
  background: var(--vscode-activityBarBadge-background);
  border-radius: 12px;
  margin-right: 5px;
  font-size: 12px;
}

.dynamodb-page .log-table tr {
  border-bottom: 1px solid var(--vscode-checkbox-border);
  height: 30px;
}
.dynamodb-page .log-table tr:last-child {
  border-bottom: 0;
}
.dynamodb-page .log-table .icons {
  text-align: right;
}
.dynamodb-page .log-table .icons i {
  padding: 5px;
  font-size: 11px;
}
.dynamodb-page i:hover {
  cursor: pointer;
}
.dynamodb-page i:hover {
  color: var(--vscode-editorInfo-foreground);
}
.dynamodb-page .log-table .operation {
  width: 100px;
  font-weight: bold;
  user-select: none;
  min-width: 90px;
}
.dynamodb-page .log-table .operation i {
  padding-right: 5px;
}
.dynamodb-page .log-table .timestamp {
  min-width: 115px;
}
.dynamodb-page .log-table .primary-key {
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dynamodb-page .log-table .change-row:not(.error) .create i.change-icon {
  color: var(--vscode-gitDecoration-addedResourceForeground);
}
.dynamodb-page .log-table .change-row:not(.error) .update i.change-icon {
  color: var(--vscode-gitDecoration-modifiedResourceForeground);
}
.dynamodb-page .log-table .change-row:not(.error) .delete i.change-icon {
  color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.dynamodb-page .load-more {
  text-align: center;
  background: var(--vscode-editor-background);
  position: sticky;
  left: calc(50% - 200px);
  width: 400px;
}
.dynamodb-page .load-more .spanlink {
  margin-left: 10px;
}
.dynamodb-page .load-more .spanlink i {
  margin-left: 5px;
}
.dynamodb-page .footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: flex-end;
  padding: 0 10px;
  user-select: none;
}
.dynamodb-page .BaseTable__footer {
  background: var(--vscode-sideBar-background);
  margin-left: -8px;
  margin-right: -8px;
}
.dynamodb-page .footer-wrapper .footer-center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dynamodb-page .footer-wrapper .footer-left,
.dynamodb-page .footer-wrapper .footer-right {
  flex: 0 0 25%;
  height: 100%;
  align-items: center;
  display: flex;
}

.dynamodb-page .BaseTable {
  font-size: 1em;
}
.dynamodb-page .BaseTable__row-cell-text {
  border-bottom: 1px solid transparent;
  cursor: default;
}
.dynamodb-page .BaseTable__row-cell:hover .BaseTable__row-cell-text {
  border-bottom: 1px dotted var(--vscode-editor-selectionBackground);
}

.dynamodb-page .clipboard-info {
  z-index: 100;
  position: absolute;
  background: var(--vscode-editor-selectionBackground);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
  padding: 3px;
}
.dynamodb-page .cell-options {
  z-index: 100;
  position: absolute;
  padding: 3px;
}

.dynamodb-page .BaseTable__row {
  user-select: none;
  cursor: default;
}
.dynamodb-page .BaseTable__row.created-item {
  color: var(--vscode-gitDecoration-addedResourceForeground);
}
.dynamodb-page .BaseTable__row.updated-item {
  color: var(--vscode-gitDecoration-modifiedResourceForeground);
}
.dynamodb-page .BaseTable__row.deleted-item {
  color: var(--vscode-gitDecoration-deletedResourceForeground);
}
.dynamodb-page .BaseTable__row.change-hover {
  background: var(--vscode-editor-findRangeHighlightBackground);
}
.dynamodb-page .BaseTable__row.selected-hover {
  background: var(--vscode-editor-wordHighlightStrongBackground) !important;
}
.dynamodb-page .BaseTable__row--hovered:not(:last-child) {
  background: var(--vscode-breadcrumbPicker-background);
}
.dynamodb-page .BaseTable__row.BaseTable__row--frozen {
  background: var(--vscode-editor-selectionBackground) !important;
}
.dynamodb-page .BaseTable__header {
  user-select: none;
}
.dynamodb-page .BaseTable__header-cell--sortable:hover {
  background-color: var(--vscode-breadcrumbPicker-background);
}
.dynamodb-page .BaseTable__header-cell--resizing .BaseTable__column-resizer {
  background-color: var(--vscode-checkbox-border);
  width: 2px;
}
.dynamodb-page .BaseTable__header-cell:hover .BaseTable__column-resizer {
  background-color: var(--vscode-checkbox-border);
}
.dynamodb-page .BaseTable__resizing-line {
  width: 2px;
  background-color: var(--vscode-checkbox-border);
}
.dynamodb-page .ant-checkbox-inner,
.dynamodb-page .ant-checkbox-input:focus + .ant-checkbox-inner {
  background-color: transparent;
  border: 1px solid var(--vscode-checkbox-border);
}
.dynamodb-page .header-checkbox .ant-checkbox {
  top: 0;
  opacity: 0;
}
.dynamodb-page .header-checkbox .ant-checkbox:hover {
  opacity: 1;
}

.dynamodb-page .footer-left i {
  font-size: 14px;
  margin: 0 5px;
}
.dynamodb-page .table-wrapper {
  flex-grow: 1;
}

.dynamodb-page .ant-collapse-item {
  padding: 5px;
}
.dynamodb-page .ant-collapse {
  background-color: var(--vscode-editor-background);
  border: 0;
}
.dynamodb-page .ant-radio-button-wrapper {
  font-size: 12px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border-color: var(--vscode-checkbox-border);
  opacity: 0.7;
  box-shadow: none;
  padding: 0px 10px;
}
.dynamodb-page .ant-radio-button-wrapper:hover {
  box-shadow: none;
}
.dynamodb-page .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  opacity: 1;
}
.dynamodb-page .scan-query-group {
  margin-right: 20px;
  flex-shrink: 0;
}

.dynamodb-page .context-menu {
  position: fixed;
  z-index: 10;
  outline: none;
  border: 1px solid var(--vscode-dropdown-border);
  background: #fff;
}
.dynamodb-page .context-menu ul {
  width: 200px !important;
}
.dynamodb-page .context-menu .ant-menu-inline .ant-menu-item {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  padding-left: 10px !important;
}
.dynamodb-page .context-menu .ant-menu-inline .ant-menu-item .shortcut {
  opacity: 0.6;
  padding-left: 5px;
  font-size: 0.85em;
}
.dynamodb-page
  .BaseTable__table-frozen-left
  .BaseTable__header-cell:first-child,
.BaseTable__table-frozen-left .BaseTable__row-cell:first-child {
  padding-left: 2px;
  opacity: 0.8;
}
.dynamodb-page .ant-checkbox-checked .ant-checkbox-inner:after {
  margin-left: 0px;
  margin-top: -1px;
  border-color: var(--vscode-editor-foreground);
  transition: none;
}
.dynamodb-page .ant-checkbox-inner {
  width: 14px;
  height: 14px;
}

.license-invalid {
  padding: 20px;
}
.license-invalid button,
.license-invalid button:focus {
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  font-size: 12px;
  margin: 5px;
  padding: 5px;
}
.license-invalid button:hover {
  background: var(--vscode-button-foreground);
  color: var(--vscode-button-background);
}
.license-invalid button.secondary,
.license-invalid button.secondary:focus {
  background: var(--vscode-badge-background);
  border-color: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
}
.license-invalid button.secondary:hover {
  background: var(--vscode-badge-foreground);
  border-color: var(--vscode-badge-background);
  color: var(--vscode-badge-background);
}
