.dynamodb-page .context-menu {
  position: fixed;
  z-index: 10;
  outline: none;
  border: 1px solid var(--vscode-dropdown-border);
  background: #fff;
}
.dynamodb-page .context-menu .ant-menu-inline .ant-menu-item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
