.code-wrapper {
  position: relative;
}
.code-wrapper button {
  position: absolute;
  right: 35px;
  top: 5px;
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-right: 3px;
  border: 0;
  font-family: var(--vscode-font-family);
}
pre.hljs {
  margin: 10px 5px;
  max-height: 350px;
}
code {
  color: var(--vscode-editor-foreground);
}
code span.hljs-attr {
  color: var(--vscode-gitDecoration-submoduleResourceForeground);
}
code span.hljs-string {
  color: var(--vscode-textPreformat-foreground);
}
code span.hljs-number {
  color: var(--vscode-gitDecoration-untrackedResourceForeground);
}
code span.hljs-literal {
  color: var(--vscode-breadcrumb-foreground);
}
code .react-syntax-highlighter-line-number {
  color: var(--vscode-editorLineNumber-foreground);
}
