body {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  background: var(--vscode-editor-background);
  font-size: var(--vscode-font-size);
  margin: 0;
}

body,
body body h1,
body h2,
body h3,
body .ant-collapse > .ant-collapse-item > .ant-collapse-header,
body .logstreamslist .logevent-longmessage,
body .ant-tabs {
  color: var(--vscode-editor-foreground);
}

::-webkit-scrollbar-corner {
  background-color: var(--vscode-editor-background);
}

body h2 {
  font-size: 1.4em;
}

.spanlink {
  cursor: pointer;
  color: var(--vscode-textLink-foreground);
}
.spanlink:hover {
  opacity: 0.8;
}
